@font-face {
    font-family: "Raleway Black";
    src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: "Raleway Black Italic";
    src: url(../fonts/Raleway-Black-Italic.ttf);
}

@font-face {
    font-family: "Raleway Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway Bold Italic";
    src: url(../fonts/Raleway-Bold-Italic.ttf);
}

@font-face {
    font-family: "Raleway Extra Bold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Raleway Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Roboto Black";
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Black Italic";
    src: url(../fonts/Roboto-Black-Italic.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}


.header {
    width: 100%;
    height: 100vh;
    background: url("../images/header2.jpg");
    background-size: cover;
    margin: 0;
}

body {
    margin: 0;
}

.logo {
    position: absolute;
    top: 50px;
    left: 100px;

}

.logo_img {
    width: 125px;
    height: 125px;
    object-fit: cover;

}

.welcome_big_message {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 60px;
    margin-left: 20px;
    width: 230px;
    height: 52px;
}

.welcome_small_message {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-left: 20px;
    width: 235px;
    margin-top: 51px;
}


.welcome_block {
    background-color: #00802d;
    position: absolute;
    left: 75px;
    top: 280px;
    width: 270px;
    height: 300px;
    z-index: 253;
}

.socialIconsWrap {
    display: flex;
    position: absolute;
    right: 131px;
    top: 50px;
    padding: 15px;
}

.socialIconsWrap i {
    color: black;
    font-size: 22px;
    margin-right: 10px;
}

.socialIconsWrap i:hover {
    color: #f5ff00;
}

.socialIconsWrap a {
    text-decoration: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: FontAwesome;
}

.funrideWrap {
    position: absolute;
    top: 280px;
    right: 65px;
}

.funrideHead {
    font-size: 48px;
    font-family: "Raleway", sans-serif;
    color: #00802d;
    font-weight: bold;
    width: 495px;
    text-transform: uppercase;
    line-height: 0.808;
}

.funrideContent {
    font-family: "Raleway Regular", sans-serif;
    color: #00802d;
    font-size: 25px;
    margin-top: 5px;
}

.contentMenu li:first-child {
    background-color: rgb(51, 51, 51);
    color: #f8f8f8;
    line-height: 3;
}

.contentMenu li {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    line-height: 2.571;
    text-align: left;

}

.contentMenu li:hover {
    background-color: rgb(51, 51, 51);
}

.contentMenu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 40px;

}

.contentMenu li:first-child a {
    color: white;
}

.contentMenu li:hover a {
    color: #f8f8f8;
}

.contentMenu ul {
    padding-left: 0;
}

.contentMenu {
    background-color: #00802d;
    width: 220px;
    margin-left: 75px;
    margin-top: -30px;
}

.content {
    display: flex;
}

.contentLeft {
    align-content: flex-start;
}

.contentRight {
    align-content: flex-end;
    margin-left: 30px;
}

.productsContainer {
    margin-top: -14px;

}

body {
background: rgb(46,180,48);
background: linear-gradient(347deg, rgba(46,180,48,1) 0%, rgba(0,0,0,1) 49%);
}

.productUnit {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px;
    background: #f8f8f8;
}

.productUnitImage {
    width: 300px;
    height: 300px;
}

.productUnitImage img{
    width: 100%;
    height: 100%;
}

.productUnitDescription, .productUnitName {
    display: inline-block;
    font-family: "Roboto Black Italic", sans-serif;
    font-size: 14px;
    color: #333;
    max-height: 2.8em;
    overflow: hidden;
    padding-right: 5px;
    box-sizing: border-box;
}
.productUnitDescription {
    font-size: 18px;
}

.productsTitle {
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(112, 112, 112);
    font-style: italic;
    text-transform: uppercase;
    line-height: 60px;
}

.productsTitle span {
    margin-left: 30px;
}

.productsWrap {
    margin-top: 20px;
}

.footer {
  background-color: rgb(9, 9, 9);
    height: 75px;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    color: #00802d;
    font-weight: bold;
    line-height: 75px;

}